{{ define "main" }}
    <div class="post">
      <div class="archive__heading">
        {{- range page.Ancestors.Reverse -}}
            <span class="breadcrumb">{{ .Title | truncate 25 }}</span>
        {{- end -}}
        {{ page.Title | truncate 25 }}
      </div>
    </div>
    
    {{ range .Data.Pages.GroupByDate "Jan 2006" }}
      
      {{ range .Pages }}

            <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      
      <div class="post__content">
        <h3><a href="{{ .RelPermalink }}">{{ upper .Title }}</a></h3>
        {{ if .Params.thumbnail }}
        <div class="post__thumbnail-wrapper">
          <a href="{{ .RelPermalink }}">
            <img class="post__thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
          </a>
        </div>
      {{ end }}
        {{ if .Site.Params.fullPostContent }}
          <p>{{ .Content }}</p>
        {{ else }}
          <p>{{ .Summary }}</p>
        {{ end }}
        <!-- add read more -->
        {{- if and (.Truncated) (.Site.Params.readMore) -}}
          <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
        {{- end -}}
      </div>

      <!--  -->
      <div class="post__footer">
        <em class="fas fa-calendar-day"></em>
        <span class="post__footer-date"
          >{{ if isset .Site.Params "indexdateformat" }}
            {{ if .Site.Params.localizedDates }}
              {{ time.Format .Site.Params.indexDateFormat .Date }}
            {{ else }}
              {{ .Date.Format .Site.Params.indexDateFormat }}
            {{ end }}

          {{ else }}
            {{ if .Site.Params.localizedDates }}
              {{ time.Format "Mon, Jan 2, 2006" .Date }}
            {{ else }}
              {{ .Date.Format "Mon, Jan 2, 2006" }}
            {{ end }}

          {{ end }}</span
        >
        {{ with .Page.Params.Category }}
          {{ partial "taxonomy/categories.html" . }}
        {{ end }}

        {{ with .Page.Params.Tag }}
          {{ partial "taxonomy/tags.html" . }}
        {{ end }}
      </div>
    </div>

      {{ end }}

    {{ end }}
 
{{ end }}
